nav {
    line-height: 124px;
}

.cart-btn {
    font-size: 34px;
line-height: 15px;
color: #000000;
font-family: "Myriad Pro";
}

.cart-btn i img {
    width: 34px;
height: 30px;

}

.search-bar {
    width: 40%;
}

.nav-content a {
    /* font-size: 21px; */
/* line-height: 19px; */
color: #ffffff;
font-family: "Bebas Neue";
text-decoration: none;
}

.nav-content i {
    font-size: 21px;
line-height: 19px;
color: #ffffff;
font-family: "Bebas Neue";
padding-left: 21px;
padding-right: 21px;
}

.content-bar {
    width: 100%;
height: 42px;
filter: drop-shadow(0.5px 0.866px 1.5px rgba(0,0,0,0.08));
background-color: #f68b1e;
}
/* 
.item-banner {
    background-image: url('home/images/banner/Banner@4x.png');
    height: 100%;
} */

.product-details {
    font-size: 27px;
line-height: 25px;
color: #3b3b3b;
font-family: "Arial";
}